training_path = ./data/training.csv
validation_path = ./data/validation.csv
evaluation_path = ./data/evaluation.csv

char_embedding_dim = 30
word_embedding_dim = 100
char_hidden_dim = 50
word_hidden_dim = 200
epoch = 10
learning_rate = 0.015
pretained_word_embed_path = ./data/sample.word.emb
char_model = 'rnn'
word_model = 'rnn'
