training_path = ./data/training.csv
validation_path = ./data/validation.csv
evaluation_path = ./data/evaluation.csv

char_embedding_dim = 100
word_embedding_dim = 300
char_hidden_dim = 50
word_hidden_dim = 200
epoch = 30
learning_rate = 0.015
pretained_word_embed_path = ./data/lexvec.commoncrawl.300d.W+C.pos.vectors
char_model = rnn
word_model = rnn
batch_size = 300
optimizer = Adam
# default GPU is 0th
GPU = 1
save_path = ./data/tagger.model
